*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #181818;
}


/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
}

.logo{
    margin-left: 10%;
}

.logo img{
    margin: 12px;
    width: 80px;
    height: 40px;
}

.menu{
    list-style-type: none;
    margin-right: 10%;
}

.menu li{
    color: white;
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    transition: 0.3s;
}


.menu li:hover{
    color: #e2b616;
    cursor: pointer;
}

/* Searchbar */

.search{
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: %;    This will put the search box up */
}

.search input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s;
    border-radius: 4px;
    box-shadow: 0px 20px 20px black;
}

input[type=text]:focus {
    border: 3px solid #e2b616;
}

.search i{
    color: grey;
    position: absolute;
    right: 27%;
    top: 37%;
}


.search-result{
    color: white;
    display: flex;
    justify-content: center;
    
}

.search-result ul{
    width: 50%;
    max-height: 500px;
    overflow-y: scroll;
    list-style-type: none;
    background-color: #121212;
    scrollbar-color: #e2b616;
}

/* Works on Firefox */
.search-result ul {
    scrollbar-width: thin;
    scrollbar-color: #e2b616;
  }
  
  /* Works on Chrome, Edge, and Safari */
  .search-result ul::-webkit-scrollbar {
    width: 7px;
  }
  
  
  .search-result ul::-webkit-scrollbar-thumb {
    background-color: #e2b616;
    border-radius: 20px;
  }

.search-result ul li{
    background-color: #2d2d2d;
    margin: 3px;
}

.search-result ul li:hover{
    cursor: pointer;
    background-color: #e2b6167d;
}


/* Search result list */

.movie-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-list-item i{
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}

.movie-list-item div{
    display: flex;
    align-items: center;
}

.movie-info {
    margin-left: 10px;
}

.movie-info span{
    display: block;
    margin-top: 10px;
    color: lightgrey;
}


.list-image-holder img{
    height: 100px;
    width: 80px;
    padding: 7px;
}



/* Favourite section */


.fav-title{
    
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

.fav-list{
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fav-card{
    width: 200px;
    color: white;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 20px 20px black;
    cursor: pointer;
}

.fav-card img:hover{
    opacity: 0.5;
}

.fav-card img{
    height: 300px;
    width: 200px;
    

}

.card-text i{
    color: #e2b616;
}

.card-text{
    margin-top: 10px;
    margin-left: 10px;
    
}

.color-lightgrey{
    color: lightgray;
}

.extra-padding{
    padding-bottom: 20px;
}


.fav-poster{
    position: relative;
}

.fav-poster i{
    color:white;
    opacity: 0.5;
    position: absolute;
    top: 30px;
    right: 10px;
}

.fav-poster i:hover{
    opacity: 1;
    cursor: pointer;
}

/* Movie Details section */

.movie-details{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #242424;;

    /* Change during responsive */
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.movie-details-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-details h1{
    font-weight: normal;
}

.rating{
    display: flex;
    padding: 8px;
    align-items: center;
}

.rating i{
    color: #e2b616;
    margin: 5px;
}

.rating-number{
    font-size: x-large;
}

.rating-number-dino{
    font-size: larger;
    color: #bcbcbe;
}

.imdb-rating-title{
    color: #bcbcbe;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.movie-date{
    color: #bcbcbe;
}

.movie-poster img{
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow: -20px 15px 20px black;
}

.movie-poster{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* Change during responsive */
    /* flex-wrap: wrap; */
    color: white;
}

.movie-poster-details{
    padding: 17px;
    width: auto;
}

.movie-poster-details hr{
    border: 1px solid grey;
    opacity: 0.5;
}

.genre span{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding: 6px;
    margin: 6px;
    border: 2px solid gray;
    border-radius: 20px;
}

.genre span:hover{
    color: grey;
    cursor: pointer;
}

.movie-bio{
    margin-top: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.color-blue{
    color: #5799ef;
    margin-left: 10px;
}


.no-result{
    display: flex;
    justify-content: center;
    pointer-events: none;
    
}

.no-result h2{
    margin: 30px;
}

/* Hide */

.hide{
    display: none;
}

/* Animated logo */

.content-wrapper{
    display: flex;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
}



.content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #e2b616;;
  }
  
  .content h2:nth-child(2) {
    color: #e2b616;;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  /* Footer */

  footer{
    background-color: #e2b616;
    width: 100%;
    color: black;
    position: fixed;
    bottom: 0;
    padding: 7px;
    text-align: center;
  }

  /* Responsivness */

  @media only screen and (max-width:800px) {
    .movie-poster{
        flex-wrap: wrap;
    }

    .movie-details{
        padding-top: 15px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .movie-poster{
        justify-content: center;
    }
  }

  @media only screen and (max-width:600px) {
    .search input[type=text]{
        width: 80%;
    }

    .search-result ul{
        width: 80%;
    }

    .search i{
        right: 14%;
    }

    .content h2 {
        font-size: 5rem;
    }
  }

  @media only screen and (max-width:500px) {

    .fav-title{
        font-size: 30px;
    }

    .search-result ul{
        height: auto;
    }
    
    footer{
        display: none;
    }

  }